@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  @apply relative; /* Tailwind way */
}

.swiper-button-next,
.swiper-button-prev {
 pointer-events: auto; /* Ensure button catches click */
  z-index: 10; /* Stay above slides */
}

.swiper-button-next svg,
.swiper-button-prev svg {
  pointer-events: none; /* allow click through to button container */
}

/* orders page styles */
/* Optional in <style> or tailwind classes */
.tab-link {
    @apply inline-block py-2 px-4 font-semibold border-l border-t border-r rounded-t;
}
.tab-link.active {
    @apply bg-white text-blue-600;
}
.tab-link.inactive {
    @apply bg-gray-100 text-gray-600 hover:text-blue-600;
}

